/*
!.gitignore

# personal notes
!cli-cheatsheat.md

# tmux config
!.tmux.conf

# zsh settings
!.zsh*
!.zprofile
!.p10k.zsh
.zshrc.*
.zsh_history

# iterm profile
!iterm.json


# nvim config
!/.config
/.config/*
!/.config/nvim

